{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{template "title" .}} - Chinook DB</title>
    <!-- Link to the CSS stylesheet and favicon -->
    <link rel="stylesheet" href="/static/css/pico.min.css" />
    <link rel="stylesheet" href="/static/css/minor.css" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <!-- Also link to some fonts hosted by Google -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
    />
  </head>
  <body>
    <header>
      <h1><a href="/">Chinook DB</a></h1>
    </header>
    {{template "nav" .}}
    <main class="container">
      <!-- Display the flash message if one exists -->
      {{with .Flash}}
      <div class="flash">{{.}}</div>
      {{end}} {{template "main" .}}
    </main>
    <footer>
      Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}
    </footer>
    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
