{{define "title"}}Albums List{{end}} {{define "albums"}}
<h2>Albums List</h2>
{{if .Albums}}
<table>
  {{ $first := true }}
  <tr>
    <th>Album Id</th>
    <th>Title</th>
    <th>Artist Id</th>
  </tr>
  {{range .Albums}} {{ if $first}} {{with .Artist}}
  <div class="flash">{{.}}</div>
  {{end}}{{ $first = false }}{{end}}
  <tr>
    <td><a href="/records/{{.AlbumId}}">{{.AlbumId}}</a></td>
    <td>{{.Title}}</td>
    <td>{{.ArtistId}}</td>
  </tr>
  {{end}}
</table>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}} {{end}}
